div.wrapper {
    width: 70%;
    background-color: lightblue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}


section {
    width: 65%;
    background-color: lightgray; 
    border: 2px solid black; 
    margin: 20px auto; 
    padding: 5px;
    box-sizing: border-box;
}


.go {
    text-align: center;
}